[tool.poetry]
# Docs: https://python-poetry.org/docs/pyproject/
name = "plumage"
version = "2.1.1"
description = """Clean and tidy theme for Pelican."""
license = 'GPL-2.0-or-later'
authors = ["Kevin Deldycke <kevin@deldycke.com>"]
readme = "readme.md"
homepage = 'https://github.com/kdeldycke/plumage'
repository = 'https://github.com/kdeldycke/plumage'
documentation = 'https://github.com/kdeldycke/plumage#settings'
keywords = [
    'pelican', 'pelican-theme', 'tipue-search', 'masonry', 'theme',
    'bootstrap', 'jquery', 'font-awesome']
classifiers = [
    # See: https://pypi.org/pypi?%3Aaction=list_classifiers
    'Development Status :: 5 - Production/Stable',
    'Environment :: Plugins',
    'Environment :: Web Environment',
    'Framework :: Pelican :: Themes',
    'Intended Audience :: Developers',
    'Intended Audience :: Information Technology',
    'Operating System :: OS Independent',
    'Programming Language :: JavaScript',
    'Programming Language :: Other',
    'Topic :: Internet :: WWW/HTTP',
    'Topic :: Text Processing :: Markup :: HTML']

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/kdeldycke"

[tool.poetry.dependencies]
# List of python versions and their support status:
# https://en.wikipedia.org/wiki/CPython#Version_history
python = "^3.7"
pelican = "^4.2.0"
pygments = "^2.7.0"
pymdown-extensions = "^8.0.1"
Markdown = "^3.3.3"
pelican-webassets = "^1.0.0"
cssmin = "^0.2.0"
libsass = "^0.20.1"

[tool.poetry.dev-dependencies]
check-wheel-contents = "^0.2.0"
twine = "^3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
