{% extends "base.html" %}
{% block title %}
    All authors
{% endblock title %}
{% block top_center %}
    <h1>
        <a href="{{ SITEURL }}/{{ AUTHORS_SAVE_AS }}"
           rel="bookmark"
           title="Permalink to author list">Authors</a>
    </h1>
{% endblock top_center %}
{% block content %}
    {% set all_authors = [] %}
    {% for author, articles in authors %}
        {% if all_authors.append({'name': author.name, 'url': author.url, 'articles': articles|length()}) %}{% endif %}
    {% endfor %}
    {{ m.render_term_list(all_authors, badge_class='text-bg-info') }}
{% endblock content %}
