{% extends "base.html" %}
{% block title %}
    All categories
{% endblock title %}
{% block top_center %}
    <h1>
        <a href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS }}"
           rel="bookmark"
           title="Permalink to category list">Categories</a>
    </h1>
{% endblock top_center %}
{% block content %}
    {% set all_categories = [] %}
    {% for category, articles in categories %}
        {% if all_categories.append({'name': category.name, 'url': category.url, 'articles': articles|length()}) %}{% endif %}
    {% endfor %}
    {{ m.render_term_list(all_categories, badge_class='category') }}
{% endblock content %}
