{% extends "base.html" %}

{% block title %}
    Search {{ super() }}
{% endblock title %}

{% block head_description %}
    Search results:
{% endblock head_description %}

{% block extra_js %}
    <script type="text/javascript" src="{{ SITEURL }}/tipuesearch_content.js"></script>

    {% assets filters="closure_js", output="js/search.min.js", "js/tipuesearch_set.js", "js/tipuesearch.js" %}
        <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        $(document).ready(function() {
            $('#tipue_search_input').tipuesearch({
                'showRelated': false,
            });
        });
    </script>
{% endblock extra_js %}

{% block top_center %}
    <h1>
        Search Results
    </h1>
{% endblock %}

{% block content %}
    <div id="tipue_search_content"></div>
{% endblock content %}
