body {
  padding-top: 20px;
  padding-bottom: 20px;
}


@media (max-width: 767px) {

  body {
    padding-top: 0;
  }

}


@media (min-width: 768px) and (max-width: 979px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

}