.codehilite pre { background-color: #fdf6e3; color: #657b83 }
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #93a1a1; font-style: italic } /* Comment */
.codehilite .err { color: #dc322f } /* Error */
.codehilite .g { color: #657b83 } /* Generic */
.codehilite .k { color: #859900 } /* Keyword */
.codehilite .l { color: #657b83 } /* Literal */
.codehilite .n { color: #586e75 } /* Name */
.codehilite .o { color: #657b83 } /* Operator */
.codehilite .x { color: #657b83 } /* Other */
.codehilite .p { color: #657b83 } /* Punctuation */
.codehilite .cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #93a1a1; font-style: italic } /* Comment.Preproc */
.codehilite .c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #93a1a1; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #657b83 } /* Generic.Deleted */
.codehilite .ge { color: #657b83 } /* Generic.Emph */
.codehilite .gr { color: #657b83 } /* Generic.Error */
.codehilite .gh { color: #657b83 } /* Generic.Heading */
.codehilite .gi { color: #657b83 } /* Generic.Inserted */
.codehilite .go { color: #657b83 } /* Generic.Output */
.codehilite .gp { color: #657b83 } /* Generic.Prompt */
.codehilite .gs { color: #657b83 } /* Generic.Strong */
.codehilite .gu { color: #657b83 } /* Generic.Subheading */
.codehilite .gt { color: #657b83 } /* Generic.Traceback */
.codehilite .kc { color: #859900 } /* Keyword.Constant */
.codehilite .kd { color: #859900 } /* Keyword.Declaration */
.codehilite .kn { color: #cb4b16 } /* Keyword.Namespace */
.codehilite .kp { color: #cb4b16 } /* Keyword.Pseudo */
.codehilite .kr { color: #859900 } /* Keyword.Reserved */
.codehilite .kt { color: #859900 } /* Keyword.Type */
.codehilite .ld { color: #657b83 } /* Literal.Date */
.codehilite .m { color: #2aa198 } /* Literal.Number */
.codehilite .s { color: #2aa198 } /* Literal.String */
.codehilite .na { color: #657b83 } /* Name.Attribute */
.codehilite .nb { color: #268bd2 } /* Name.Builtin */
.codehilite .nc { color: #268bd2 } /* Name.Class */
.codehilite .no { color: #b58900 } /* Name.Constant */
.codehilite .nd { color: #cb4b16 } /* Name.Decorator */
.codehilite .ni { color: #cb4b16 } /* Name.Entity */
.codehilite .ne { color: #cb4b16 } /* Name.Exception */
.codehilite .nf { color: #268bd2 } /* Name.Function */
.codehilite .nl { color: #657b83 } /* Name.Label */
.codehilite .nn { color: #b58900 } /* Name.Namespace */
.codehilite .nx { color: #657b83 } /* Name.Other */
.codehilite .py { color: #268bd2 } /* Name.Property */
.codehilite .nt { color: #859900 } /* Name.Tag */
.codehilite .nv { color: #cd4b16 } /* Name.Variable */
.codehilite .ow { color: #859900 } /* Operator.Word */
.codehilite .w { color: #fdf6e3 } /* Text.Whitespace */
.codehilite .mf { color: #2aa198 } /* Literal.Number.Float */
.codehilite .mh { color: #2aa198 } /* Literal.Number.Hex */
.codehilite .mi { color: #2aa198 } /* Literal.Number.Integer */
.codehilite .mo { color: #2aa198 } /* Literal.Number.Oct */
.codehilite .sb { color: #2aa198 } /* Literal.String.Backtick */
.codehilite .sc { color: #2aa198 } /* Literal.String.Char */
.codehilite .sd { color: #2aa198 } /* Literal.String.Doc */
.codehilite .s2 { color: #2aa198 } /* Literal.String.Double */
.codehilite .se { color: #cb4b16 } /* Literal.String.Escape */
.codehilite .sh { color: #2aa198 } /* Literal.String.Heredoc */
.codehilite .si { color: #cb4b16 } /* Literal.String.Interpol */
.codehilite .sx { color: #2aa198 } /* Literal.String.Other */
.codehilite .sr { color: #2aa198 } /* Literal.String.Regex */
.codehilite .s1 { color: #2aa198 } /* Literal.String.Single */
.codehilite .ss { color: #2aa198 } /* Literal.String.Symbol */
.codehilite .bp { color: #268bd2; font-weight: bold } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #268bd2 } /* Name.Variable.Class */
.codehilite .vg { color: #268bd2 } /* Name.Variable.Global */
.codehilite .vi { color: #268bd2 } /* Name.Variable.Instance */
.codehilite .il { color: #2aa198 } /* Literal.Number.Integer.Long */
