body, input, button, select, textarea, li, .navbar-search .search-query {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
}
code, pre {
  font-family: "Droid Sans Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 15px;
  line-height: 21px;
  white-space: pre;
  overflow: auto;
}


html {
  background: rgb(236, 236, 236) url(/theme/img/fabric_plaid.png);
  box-shadow: inset 0 10px 100px -30px rgba(0, 0, 0, 0.5);
}
body {
  padding-top: 20px;
  background-color: transparent;
}


.page-header {
  margin: 0;
  border-bottom: none;
}
.page-header a {
  color: #2D2D2D;
}
.page-header a:hover {
  color: #005580;
  text-decoration: none;
}


/* Card flip inspired by http://learn.shayhowe.com/advanced-html-css/transitions-animations */
/* Possible alternative: use https://github.com/mintchaos/flippant.js */
.page-header .avatar-container {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 20px;
  position: relative;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -ms-perspective: 600;
  -o-perspective: 600;
  perspective: 600;
}
.page-header .avatar {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.page-header .avatar .side {
  border: solid 3px white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .25);
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.page-header .avatar.animate:hover, .page-header .avatar.animate .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.page-header .avatar .side:hover, .page-header .avatar .back {
  border-color: #005580;
}
.page-header .avatar .back {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  background-image: linear-gradient(#eeeeee, #dddddd);
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  line-height: 20px;
}
.page-header .avatar .back p {
  padding-top: 8px;
}


/* Only display site's name in the navbar if it's fixed */
.navbar .brand {
  display: none;
}
.navbar .navbar-inner {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}
.navbar.navbar-fixed-top .brand {
  display: block;
}
.navbar.navbar-fixed-top .navbar-inner {
  padding-right: 20px;
  padding-left: 20px;
}


/* Add a search icon in navbar's search field */
.navbar-search .search-query {
  padding-left: 32px;
  height: inherit;
}
.navbar-search .fa-search {
  position: absolute;
  top: 8px;
  left: 10px;
}


h1, h2 {
  text-shadow: 1px 1px 1px #ddd;
}
section h1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Typogrify's ampersands */
span.amp {
  font-family: 'Expletus Sans';
}

code {
  color: inherit;
  background-color: rgb(236, 236, 236); /* same as body's background-color */
  border-color: rgb(224, 224, 235);
}

a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.muted a {
  color: #999;
}


#content img {
  border: 1px solid #999;
  background: #fff;
}


.mglass {
  box-shadow:0 0 100px 0 #000 inset;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mglass:hover {
  opacity: 1;
}
#content .video .mglass {
  background-image: url(/theme/img/play-button.png);
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}


/*a.label, a.badge,*/ a.link-circle {
  background-color: rgb(228, 228, 228);
}
/*a.label:hover, a.badge:hover,*/ a.link-circle:hover {
  background-color: #999;
}


.thumbnail {
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.thumbnail .corner {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgb(155, 70, 70);
  position: absolute;
  right: -65px;
  top: 15px;
  width: 200px;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
#content .thumbnail img {
  border: 0;
}
.thumbnail > img {
  max-height: 180px;
  box-shadow: 0 4px 10px -4px rgba(0, 0, 0, .3);
}
.masonry .thumbnail {
  margin-bottom: 20px;
}
.thumbnail .details {
  font-size: 14px;
  padding: 10.5px 10.5px 0;
}

.link-circle {
  color: #fff;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}
.link-circle:hover {
  color: #fff;
  text-decoration: none;
}


.comments {
  margin-top: 5em;
}


footer {
  border-top: 1px solid #fff;
  margin-top: 50px;
  background: url(/theme/img/creampaper.png);
  padding: 20px;
  text-shadow: 0px 1px 1px white;
  box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.5);
}
footer .container .span12 {
  margin-top: 20px;
}
footer, footer li {
  font-size: 14px;
}
footer .muted {
  font-size: 12px;
  line-height: 13px;
}

blockquote {
  border-left: 5px solid #0088CC;
}
