{% extends "base.html" %}


{% block title %}
  Archives
{% endblock %}


{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}" rel="bookmark" title="Permalink to archives">Archives</a>
  </h1>
{% endblock %}


{% block content %}

  {% set year_range = [] %}
  {% for year in range(dates[-1].date.year, dates[0].date.year + 1) %}
    {% if year_range.append(year) %}{% endif %}
  {% endfor %}
  {% set year_range = year_range[::-1] %}

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
      {% for year in year_range %}
        <li {% if loop.first %} class="active" {% endif %}><a href="#{{ year }}" data-toggle="tab">{{ year }}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for year in year_range %}
        <div class="tab-pane {% if loop.first %} active {% endif %}" id="{{ year }}">


          {% set current_month = False %}
          {% for article in dates %}
            {% if article.date.year == year %}

              {% if article.date.month != current_month %}
                {% set current_month = article.date.month %}
                {% if not loop.first %}
                  </dl>
                {% endif %}
                <dl class="dl-horizontal">
              {% endif %}

              <dt><abbr class="published" title="{{ article.date.isoformat() }}">{{ article.date.strftime('%b. %d') }}</abbr></dt>
              <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>

              {% if loop.last %}
                </dl>
              {% endif %}

            {% endif %}
          {% endfor %}

        </div>
      {% endfor %}
    </div>

  </div>

{% endblock %}
