{% extends "base.html" %}


{% block title %}
  {{ article.title }}
{% endblock %}


{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h1>
{% endblock %}


{% block left_sidebar %}
  <div class="post-info">

    <p>
      <i class="icon-calendar"></i>
      <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
    </p>

    {% if article.author %}
      <p>
        <address class="vcard author">
          <i class="icon-user"></i>
          By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}" rel="author">{{ article.author }}</a>
        </address>
      </p>
    {% endif %}

    {% if PDF_PROCESSOR %}
      <p><i class="icon-file"></i> <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf" rel="alternate">Download the .pdf</a></p>
    {% endif %}

    <p>
      <a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag"><span class="label label-info">{{ article.category }}</span></a>
    </p>

    {% if article.tags %}
      <p>
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag"><span class="label">{{ tag }}</span></a>
        {% endfor %}
      </p>
    {% endif %}

  </div>
{% endblock %}


{% block content %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}

  <div>
    {{ article.content }}
  </div>

  <ul class="pager">
    {% set newer_article = [] %}
    {% set older_article = [] %}
    {% set article_found = False %}
    {% for a in dates %}
      {% if article_found and not older_article %}
        <!-- Jinja Hack. See: http://stackoverflow.com/questions/4870346/can-a-jinja-variables-scope-extend-beyond-in-an-inner-block#comment8152266_4880398 -->
        {% if older_article.append(a.title) %}{% endif %}
        {% if older_article.append(a.url)   %}{% endif %}
      {% endif %}
      {% if a == article %}
        {% set article_found = True %}
      {% endif %}
      {% if not article_found %}
        {% if newer_article.append(a.title) %}{% endif %}
        {% if newer_article.append(a.url)   %}{% endif %}
      {% endif %}
    {% endfor %}
    <li class="previous {% if not older_article %} disabled {% endif %}"><a {% if older_article %} href="{{ SITEURL }}/{{ older_article[1] }}" title="{{ older_article[0] }}" {% endif %} rel="prev">← Older</a></li>
    <li class="next {% if not newer_article %} disabled {% endif %}"><a {% if newer_article %} href="{{ SITEURL }}/{{ newer_article[1] }}" title="{{ newer_article[0] }}" {% endif %} rel="next">Newer →</a></li>
  </ul>

{% endblock %}