{% extends "base.html" %}


{% block title %}
  {{ article.title }}
{% endblock %}


{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h1>
{% endblock %}


{% block right_sidebar %}
  <div class="post-info well">

    <p>
      <i class="icon-calendar"></i>
      <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
    </p>

    {% if AUTHOR_SAVE_AS and article.author %}
      <p>
        <address class="vcard author">
          <i class="icon-user"></i>
          By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}" rel="author">{{ article.author }}</a>
        </address>
      </p>
    {% endif %}

    {% if PDF_PROCESSOR %}
      <p><i class="icon-file"></i> <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf" rel="alternate">Download the .pdf</a></p>
    {% endif %}

    <hr/>

    {% if article.category %}
      <p>
        {% for category, articles in categories %}
          {% if category.url == article.category.url %}
            {% set article_counter = articles|length() %}
            <a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag tooltip" data-placement="right" data-original-title="{{ article_counter }} article{{ 's' if article_counter > 1 else '' }} in this category"><span class="label label-info">{{ article.category }}</span></a>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}

    {% if article.tags %}
      {% set article_tags = [] %}
      {% for tag, articles in tags %}
        {% for t in article.tags %}
          {% if tag.url == t.url %}
            {% if article_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      <p>
        {% for tag in article_tags|sort(reverse = True, attribute = 'articles') %}
          <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag tooltip" data-placement="right" data-original-title="{{ tag.articles }} article{{ 's' if tag.articles > 1 else '' }} with this tag"><span class="label">{{ tag.name }}</span></a>
        {% endfor %}
      </p>
    {% endif %}

    <hr/>

    <p>Found a typo ? Want to fix it ?</p>
    <a class="btn btn-info btn-block" href="https://github.com/kdeldycke/kevin-deldycke-blog/edit/master/content/posts/{{ article.slug }}.md"><i class="icon-random icon-white"></i> Edit article on GitHub</a>

    <hr/>

    <ul class="pager">
      {% set newer_article = [] %}
      {% set older_article = [] %}
      {% set article_found = False %}
      {% for a in dates %}
        {% if article_found and not older_article %}
          <!-- Jinja Hack. See: http://stackoverflow.com/questions/4870346/can-a-jinja-variables-scope-extend-beyond-in-an-inner-block#comment8152266_4880398 -->
          {% if older_article.append((a.title, a.url)) %}{% endif %}
        {% endif %}
        {% if a == article %}
          {% set article_found = True %}
        {% endif %}
        {% if not article_found %}
          {% if newer_article.append((a.title, a.url)) %}{% endif %}
        {% endif %}
      {% endfor %}
      <li class="previous {% if not older_article %} disabled {% endif %}"><a {% if older_article %} href="{{ SITEURL }}/{{ older_article[0][1] }}" title="{{ older_article[0][0] }}" {% endif %} rel="prev">← Older</a></li>
      <li class="next {% if not newer_article %} disabled {% endif %}"><a {% if newer_article %} href="{{ SITEURL }}/{{ newer_article[-1][1] }}" title="{{ newer_article[-1][0] }}" {% endif %} rel="next">Newer →</a></li>
    </ul>

  </div>
{% endblock %}


{% block content %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}

  <div>
    {{ article.content }}
  </div>

  {% if article.related_posts %}
    <h3>Related content</h3>
    <!-- TODO: Use fancier related layout, as in http://kevin.deldycke.com/2012/04/beautify-contextual-related-posts-wordpress-plugin/ -->
    <ul>
      {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
      {% endfor %}
      </ul>
  {% endif %}

  {% if DISQUS_SITENAME %}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = "{{ article.url }}";
        var disqus_title = "{{ article.title|e }}";
        var disqus_url = "http://kevin.deldycke.com/{{ article.url }}";
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
    </div>
  {% endif %}

{% endblock %}