{% extends "base.html" %}


{% block title %}
  {{ article.title }}
{% endblock %}


{% block top_center %}
  <h1 class="entry-title">
    <a href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h1>
{% endblock %}


{% block left_sidebar %}
  <div class="post-info">

    <p>
      <i class="icon-calendar"></i>
      <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
    </p>

    {% if article.author %}
      <p>
        <address class="vcard author">
          <i class="icon-user"></i>
          By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </address>
      </p>
    {% endif %}

    <p>
      <a href="{{ SITEURL }}/{{ article.category.url }}"><span class="label label-info">{{ article.category }}</span></a>
    </p>

    {% if article.tags %}
      <p>
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}"><span class="label">{{ tag }}</span></a>
        {% endfor %}
      </p>
    {% endif %}

    {% if PDF_PROCESSOR %}
      <p><i class="icon-file"></i> <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">Download the .pdf</a></p>
    {% endif %}

  </div>
{% endblock %}


{% block content %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}
  <div class="entry-content">
    {{ article.content }}
  </div>
{% endblock %}