<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8"/>

    <title>{% block title %}Home{% endblock title %} | {{ SITENAME }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="{{ author }}"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css"/>
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment-solarized-dark.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css"/>

    <link rel="icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">

    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed"/>
    {% endif %}
    {% if TAG_FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed"/>
    {% endif %}
    {% if TAG_FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed"/>
    {% endif %}

    {% block head %}
    {% endblock %}

  </head>

  <body>
    <div class="container">

      <header>
        <div class="page-header">
          <div class="avatar"><img src="http://www.gravatar.com/avatar/d2c8199d7edaf8f0803bbaa0cfe8fd77.png?s=80"/></div>
          <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a> <small>{{ SITESUBTITLE }}</small></h1>
        </div>

        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="{{ SITEURL }}" title="{{ SITESUBTITLE }}">{{ SITENAME }}</a>
            <ul class="nav">
              {% for title, link in MENUITEMS %}
                {% set active_page = page is defined and link == "/%s"|format(page.url) -%}
                <li {% if active_page %} class="active" {% endif %}><a href="{{ link }}">{{ title }}</a></li>
              {% endfor %}
              {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES %}
                  <li {% if p == page %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
            <form class="navbar-search pull-right" action="http://www.google.com" target="_blank">
              <input type="text" name="q" class="search-query span2" placeholder="Search"/>
              <div class="icon-search"></div>
              <input type="hidden" name="cx" value="partner-pub-0142056597033291:1880158713" />
              <input type="hidden" name="ie" value="UTF-8" />
            </form>
          </div>
        </div>
      </header>

      <section>
        <div class="row">

          <div class="span3">
            {% block top_left %}
            {% endblock %}
          </div>

          <div class="span6">
            {% block top_center %}
            {% endblock %}
          </div>

          <div class="span3">
            {% block top_right %}
            {% endblock %}
          </div>

        </div>

        <div class="row">

          <div class="span3">
            <!--<div data-spy="affix" data-offset-top="0">-->
            <!--<h4>Sponsors</h4>-->
            <script type="text/javascript"><!--
              google_ad_client = "pub-0142056597033291";
              google_ad_slot = "9501596707";
              google_ad_width = 160;
              google_ad_height = 600;
              //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            <!--</div>-->
            {% block left_sidebar %}
            {% endblock %}
          </div>

          <div class="span6" id="content" role="main">
            {% block content %}
            {% endblock %}
          </div>

          <div class="span3">
            {% block right_sidebar %}
            {% endblock %}
          </div>

        </div>
      </section>

    </div>

    <!-- TODO: make footer sticky -->
    <footer class="container-fluid">
      <div class="container">
        <div class="row">

          <div class="span2">
            <h5>Professional profiles</h5>
            <ul class="xoxo blogroll">
              <li><a href="http://docs.google.com/document/export?format=pdf&amp;id=1XaJgwRAhxHDuBSD-JqE--8WKGx0uTasa6IOU4IFBeKg" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/pdf-icon.gif" alt="PDF resume"> PDF resume</a></li>
              <li><a href="http://careers.stackoverflow.com/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/careers-stack-overflow-icon.png" alt="Careers 2.0"/> Careers 2.0</a></li>
              <li><a href="http://linkedin.com/in/kevindeldycke/en" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/linkedin-icon.png" alt="LinkedIn"> LinkedIn</a></li>
              <li><a href="http://viadeo.com/fr/profile/kevin.deldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/viadeo-icon.png" alt="Viadeo"> Viadeo</a></li>
            </ul>
          </div>

          <div class="span2">
            <h5>Software communities</h5>
            <ul class="xoxo blogroll">
              <li><a href="http://stackoverflow.com/users/487610/kevin-deldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/icon-stackoverflow.png" alt="Stack Overflow"> Stack Overflow</a></li>
              <li><a href="http://news.ycombinator.com/user?id=kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/hackernews-icon.png" alt="Hacker News"> Hacker News</a></li>
              <li><a href="http://sourceforge.net/users/kevin-deldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/source-forge-icon.png" alt="SourceForge"> SourceForge</a></li>
              <li><a href="http://code.google.com/u/kevin@deldycke.com/" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/google-code-icon.png" alt="Google code"> Google code</a></li>
              <li><a href="http://profiles.wordpress.org/users/Coolkevman/" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/wordpress-icon.png" alt="WordPress"> WordPress</a></li>
              <li><a href="http://launchpad.net/~kevin-deldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/launchpad-icon.png" alt="Launchpad"> Launchpad</a></li>
              <li><a href="http://coderwall.com/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/coderwall-icon.png" alt="CoderWall"/> CoderWall</a></li>
              <li><a href="http://bitbucket.org/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/bitbucket-icon.png" alt="BitBucket"> BitBucket</a></li>
              <li><a href="http://github.com/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/github_icon.png" alt="GitHub"> GitHub</a></li>
              <li><a href="http://ohloh.net/accounts/kevin" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/04/ohloh-icon.png" alt="Ohloh"> Ohloh</a></li>
              <li><a href="http://pypi.python.org/pypi?%3Aaction=search&amp;term=deldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2011/12/python-icon.png" alt="PyPi"> PyPi</a></li>
            </ul>
          </div>

          <div class="span2">
            <h5>Photos & Videos</h5>
            <ul class="xoxo blogroll">
              <li><a href="http://youtube.com/user/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/youtube-icon.png" alt="YouTube"> YouTube</a></li>
              <li><a href="http://twitpic.com/photos/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/twitpic-icon.png" alt="TwitPics"> TwitPics</a></li>
              <li><a href="http://vimeo.com/kevindeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/vimeo-icon.png" alt="Vimeo"> Vimeo</a></li>
            </ul>
          </div>

          <div class="span2">
            <h5>Misc.</h5>
            <ul class="xoxo blogroll">
              <li><a href="http://musicbrainz.org/user/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2012/06/musicbrainz-icon.png" alt="MusicBrainz"> MusicBrainz</a></li>
              <li><a href="http://gravatar.com/coolkevmen" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/gravatar-icon.png" alt="Gravatar"> Gravatar</a></li>
              <li><a href="http://twitter.com/kdeldycke" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/twitter-icon.png" alt="Twitter"> Twitter</a></li>
              <li><a href="http://disqus.com/kdeldycke/" rel="me"><img src="{{ SITEURL }}/static/uploads/2013/01/disqus-icon.png" alt="Disqus"> Disqus</a></li>
              <li><a href="http://myworld.ebay.com/coolcavemen" rel="me"><img src="{{ SITEURL }}/static/uploads/2006/05/ebay-icon.png" alt="eBay"> eBay</a></li>
            </ul>
          </div>

          <div class="span2">
            {% if LINKS %}
              <h5>Other pages</h5>
              <ul>
              {% for name, link in LINKS %}
                  <li><a href="{{ link }}">{{ name }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="span2">
            <h5 class="pull-right"><a href="#"><span class="icon-arrow-up"></span> Back to top</a></h5>
          </div>

        </div>
      </div>
    </footer>

    {% include 'analytics.html' %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.fitvids.js"></script>
    <script src="{{ SITEURL }}/theme/js/application.js"></script>

  </body>
</html>