<!DOCTYPE html>
{% import 'macros.html' as m %}
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8"/>

    <title>{% block title %}Home{% endblock title %} | {{ SITENAME }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="{{ author }}"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css"/>
    <!--[if IE 7]>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/jquery.mglass.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment-solarized-dark.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'/>

    {% block extra_css %}{% endblock %}

    <link rel="icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">

    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed"/>
    {% endif %}
    {% if CATEGORY_FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed"/>
    {% endif %}
    {% if TAG_FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed"/>
    {% endif %}
    {% if TAG_FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed"/>
    {% endif %}

    {% block head %}
    {% endblock %}

  </head>

  <body>
    <div class="container">

      <header>
        <div class="page-header">
          {% if SITE_THUMBNAIL %}
            <a href="{{ SITEURL }}" class="avatar-container">
              <div class="avatar">
                <div class="side"><img src="{{ SITE_THUMBNAIL }}"/></div>
                {% if SITE_THUMBNAIL_TEXT %}
                  <div class="side back"><p class="text-center">{{ SITE_THUMBNAIL_TEXT }}</p></div>
                {% endif %}
              </div>
            </a>
          {% endif %}
          <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a> <small>{{ SITESUBTITLE }}</small></h1>
        </div>

        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="{{ SITEURL }}" title="{{ SITESUBTITLE }}">{{ SITENAME }}</a>
            <ul class="nav">
              {% for title, link in MENUITEMS %}
                {% set active_page = page is defined and link == "/%s"|format(page.url) -%}
                <li {% if active_page %} class="active" {% endif %}><a href="{{ link }}">{{ title }}</a></li>
              {% endfor %}
              {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES %}
                  <li {% if p == page %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
            <form class="navbar-search pull-right" action="http://www.google.com" target="_blank">
              <input type="text" name="q" class="search-query span2" placeholder="Search"/>
              <div class="icon-search"></div>
              <input type="hidden" name="cx" value="partner-pub-0142056597033291:1880158713" />
              <input type="hidden" name="ie" value="UTF-8" />
            </form>
          </div>
        </div>
      </header>

      <section>
        <div class="row">
          <div class="span6 offset3">
            {% block top_center %}
            {% endblock %}
          </div>
        </div>
        <div class="row">

          {% if LAYOUT != 'full-width' %}
            <div class="span3">
              {% block left_sidebar %}
              {% endblock %}
              {{ LEFT_SIDEBAR }}
            </div>
          {% endif %}

          <div class="{% if LAYOUT == 'full-width' %} offset1 {% else %} span6 {% endif %}"  id="content" role="main">
            {% block content %}
            {% endblock %}
          </div>

          {% if LAYOUT != 'full-width' %}
            <div class="span3">
              {% block right_sidebar %}
              {% endblock %}
              {{ RIGHT_SIDEBAR }}
            </div>
          {% endif %}

        </div>
      </section>

    </div>

    <!-- TODO: make footer sticky -->
    <footer class="container-fluid">
      <div class="container">
        <div class="row">

          {% set SOCIAL_TITLE = SOCIAL_TITLE or 'Social' %}
          {% set LINKS_TITLE  = LINKS_TITLE  or 'Links'  %}
          {% for group_title, group_links in ((SOCIAL_TITLE, SOCIAL), (LINKS_TITLE, LINKS)) %}
            <div class="span2">
              {% if group_links %}
                <h5>{{ group_title }}</h5>
                <ul class="unstyled">
                {% for title, link in group_links %}
                    <li><a href="{{ link }}"><img src="http://g.etfv.co/{{ '/'.join(link.split('/', 3)[:3]) }}?defaulticon=lightpng" width="16" height="16" alt="{{ title }} icon"/> {{ title }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}

          <div class="span2">
            <h5>Browse content by</h5>
            <ul class="unstyled">
              {% if CATEGORY_SAVE_AS %}
                <li><a href="{{ SITEURL }}/categories.html" class="icon-tags"> Categories</a></li>
              {% endif %}
              {% if ARCHIVES_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}" class="icon-calendar"> Dates</a></li>
              {% endif %}
              {% if TAGS_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ TAGS_SAVE_AS }}" class="icon-tag"> Tags</a></li>
              {% endif %}
            </ul>
          </div>

          <div class="span2 muted">
            <h5>Copyright notice</h5>
            <p>© Copyright {{ dates[-1].date.year }}-{{ dates[0].date.year }} {{ AUTHOR }}.</p>
            {% if COPYRIGHT %}
              <p>{{ COPYRIGHT }}</p>
            {% endif %}
          </div>

          <div class="span2 muted">
            <h5>Disclaimer</h5>
            <p>All opinions expressed in this site are my own personal opinions and are not endorsed by, nor do they represent the opinions of my previous, current and future employers or any of its affiliates, partners or customers.</p>
          </div>

          <div class="span2">
            <h5 class="pull-right"><a href="#" class="icon-arrow-up"> Back to top</a></h5>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row span12 muted text-center">
          Site generated by <a href="http://getpelican.com"> Pelican</a>.<br/>
          <a href="https://github.com/kdeldycke/plumage"> Plumage</a> theme by <a href="http://kevin.deldycke.com">Kevin Deldycke</a>.
        </div>
      </div>

    </footer>

    {% if GOOGLE_ANALYTICS %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
        {% if GOOGLE_ANALYTICS_DOMAIN %}
          _gaq.push(['_setDomainName', '{{ GOOGLE_ANALYTICS_DOMAIN }}']);
        {% endif %}
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.mglass.js"></script>
    <script src="{{ SITEURL }}/theme/js/application.js"></script>
    {% block extra_js %}{% endblock %}

  </body>
</html>
