{% extends "base.html" %}


{% block title %}
  All tags
{% endblock %}


{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/tags.html" rel="bookmark" title="Permalink to tag list">Tags</a>
  </h1>
{% endblock %}


{% block content %}
  {% for tag, articles in tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}" rel="tooltip" data-placement="bottom" data-original-title="{{ articles|length() }} article{{ 's' if articles|length() > 1 else '' }} with this tag"><span class="label">{{ tag }}</span></a>
  {% endfor %}
{% endblock %}