{% extends "base.html" %}


{% block title %}
  All tags
{% endblock %}


{% block top_center %}
  <h1>
    <a href="{{ SITEURL }}/tags.html" rel="bookmark" title="Permalink to tag list">Tags</a>
  </h1>
{% endblock %}


{% block content %}

  {% set all_tags = [] %}
  {% for tag, articles in tags %}
    {% if all_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
  {% endfor %}

  {% for tag in all_tags|sort(reverse = True, attribute = 'articles') %}
    <a href="{{ SITEURL }}/{{ tag.url }}" rel="tooltip" data-placement="bottom" data-original-title="{{ tag.articles }} article{{ 's' if tag.articles > 1 else '' }} with this tag"><span class="label">{{ tag.name }}</span></a>
  {% endfor %}

{% endblock %}