pre {
  line-height: 125%;
}

td.linenos pre {
  color: #000;
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: #000;
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos pre.special {
  color: #000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.pygments-style-rrt .hll { background-color: #00f; }

.pygments-style-rrt {
  background: #000;
}
.pygments-style-rrt .c { color: #0f0; } /* Comment */
.pygments-style-rrt .k { color: #f00; } /* Keyword */
.pygments-style-rrt .ch { color: #0f0; } /* Comment.Hashbang */
.pygments-style-rrt .cm { color: #0f0; } /* Comment.Multiline */
.pygments-style-rrt .cp { color: #e5e5e5; } /* Comment.Preproc */
.pygments-style-rrt .cpf { color: #0f0; } /* Comment.PreprocFile */
.pygments-style-rrt .c1 { color: #0f0; } /* Comment.Single */
.pygments-style-rrt .cs { color: #0f0; } /* Comment.Special */
.pygments-style-rrt .kc { color: #f00; } /* Keyword.Constant */
.pygments-style-rrt .kd { color: #f00; } /* Keyword.Declaration */
.pygments-style-rrt .kn { color: #f00; } /* Keyword.Namespace */
.pygments-style-rrt .kp { color: #f00; } /* Keyword.Pseudo */
.pygments-style-rrt .kr { color: #f00; } /* Keyword.Reserved */
.pygments-style-rrt .kt { color: #ee82ee; } /* Keyword.Type */
.pygments-style-rrt .s { color: #87ceeb; } /* Literal.String */
.pygments-style-rrt .no { color: #7fffd4; } /* Name.Constant */
.pygments-style-rrt .nf { color: #ff0; } /* Name.Function */
.pygments-style-rrt .nv { color: #eedd82; } /* Name.Variable */
.pygments-style-rrt .sa { color: #87ceeb; } /* Literal.String.Affix */
.pygments-style-rrt .sb { color: #87ceeb; } /* Literal.String.Backtick */
.pygments-style-rrt .sc { color: #87ceeb; } /* Literal.String.Char */
.pygments-style-rrt .dl { color: #87ceeb; } /* Literal.String.Delimiter */
.pygments-style-rrt .sd { color: #87ceeb; } /* Literal.String.Doc */
.pygments-style-rrt .s2 { color: #87ceeb; } /* Literal.String.Double */
.pygments-style-rrt .se { color: #87ceeb; } /* Literal.String.Escape */
.pygments-style-rrt .sh { color: #87ceeb; } /* Literal.String.Heredoc */
.pygments-style-rrt .si { color: #87ceeb; } /* Literal.String.Interpol */
.pygments-style-rrt .sx { color: #87ceeb; } /* Literal.String.Other */
.pygments-style-rrt .sr { color: #87ceeb; } /* Literal.String.Regex */
.pygments-style-rrt .s1 { color: #87ceeb; } /* Literal.String.Single */
.pygments-style-rrt .ss { color: #87ceeb; } /* Literal.String.Symbol */
.pygments-style-rrt .fm { color: #ff0; } /* Name.Function.Magic */
.pygments-style-rrt .vc { color: #eedd82; } /* Name.Variable.Class */
.pygments-style-rrt .vg { color: #eedd82; } /* Name.Variable.Global */
.pygments-style-rrt .vi { color: #eedd82; } /* Name.Variable.Instance */
.pygments-style-rrt .vm { color: #eedd82; } /* Name.Variable.Magic */
