body,
.tooltip,
.popover {
  font-family: 'Open Sans', var(--font-family-sans-serif);
}

html {
  background: rgb(236, 236, 236) url(/theme/img/fabric_plaid.jpeg);
  box-shadow: inset 0 10px 100px -30px rgba(0, 0, 0, 0.5);
}

a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  /* Style title headers anchors produced by Python's Markdown module. See:
   * https://python-markdown.github.io/extensions/toc/#usage
   */
  &.headerlink {
    visibility: hidden;
    @each $tag in "h1", "h2", "h3", "h4", "h5", "h6", "dt" {
      #{$tag}:hover > & {
        visibility: visible !important;
      }
    }
  }
}

/* Style to support pymdown-extensions' emoji:
 * https://facelessuser.github.io/pymdown-extensions/extensions/emoji/#default-emoji-generators
 */
img.emojione {
  $size: 1.3rem;
  width: $size;
  height: $size;
}

.avatar-container {
  $size: 6rem;
  width: $size;
  height: $size;
  z-index: 10;
  position: relative;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -ms-perspective: 600;
  -o-perspective: 600;
  perspective: 600;

  .avatar {
    $size: 100%;
    width: $size;
    height: $size;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .side {
      border: solid 3px white {
        radius: 16px;
      }
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      $size: 100%;
      width: $size;
      height: $size;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .back {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee), color-stop(100%, #ddd));
      background-image: -webkit-linear-gradient(#eee, #ddd);
      background-image: -moz-linear-gradient(#eee, #ddd);
      background-image: -o-linear-gradient(#eee, #ddd);
      background-image: linear-gradient(#eee, #ddd);
      -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
    }

    .side:hover,
    .back {
      border-color: #005580;
    }

    &.animate:hover,
    &.animate .back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

h1,
h2 {
  text-shadow: 1px 1px 1px #ddd;
}

/* Typogrify's ampersands */
span.amp {
  font-family: cursive;
}

/* Overrides default border-left 1px width set by Bootstrap:
 * https://github.com/twbs/bootstrap/blob/bfb773d64be5f3c07628bb6e3f1295fd854c4514/scss/utilities/_borders.scss#L11
 * https://github.com/twbs/bootstrap/blob/bfb773d64be5f3c07628bb6e3f1295fd854c4514/scss/_variables.scss#L237
 * */
blockquote.border-left {
  border-left-width: thick !important;
}

.card .corner-banner {
  font-size: 13px;
  text-align: center;
  position: absolute;
  right: -65px;
  top: 15px;
  width: 200px;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

footer {
  background: url(/theme/img/creampaper.jpeg);
  text-shadow: 0 1px 1px white;
  box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.5);
}
