.mglass {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(/theme/img/magnifier.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  z-index: 10;

  box-shadow: 0 0 10rem 0 #000 inset;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;

  &:hover {
    opacity: 1;
  }

  #content .video & {
    background-image: url(/theme/img/play-button.png);
  }
}

.mfp-with-zoom {
  .mfp-container, &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    .mfp-container {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  &.mfp-removing {
    .mfp-container, &.mfp-bg {
      opacity: 0;
    }
  }
}
